.gradient-2 {
  background: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);
}

.gradient-1 {
  background: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%);
}

.btn-continue {
    cursor: pointer;
}

.btn-continue:hover {
  background: linear-gradient(180deg, #7755ff 0%, #2f2ce9 100%);
}
