/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-navy-950: #303B59;
  --color-navy-200: #cac9ff;
  --color-navy-50: #ecf2ff;

  --color-blue-800: #1125d6;
  --color-blue-50: #f3f4fd;

  --color-yellow-400: #ffb21e;
  --color-yellow-50: #fffbf4;

  --color-red-400: #ff5555;
  --color-red-50: #fff6f6;

  --color-green-500: #00bb8f;
  --color-green-100: #f2fcf9;

 
  --font-sans: 'Hanken Grotesk', sans-serif;
}

@layer components {
  .text-preset-1 {
    font-family: var(---font-sans);
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 100%;
    letter-spacing: normal;
  }

  .text-preset-2 {
    font-family: var(---font-sans);
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 100%;
    letter-spacing: normal;
  }

  .text-preset-3 {
    font-family: var(---font-sans);
    font-weight: 700;
    font-size: 2rem;
    line-height: 130%;
    letter-spacing: normal;
  }

  .text-preset-4 {
    font-family: var(---font-sans);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: normal;
  }

  .text-preset-5-bold {
    font-family: var(---font-sans);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: normal;
  }

  .text-preset-5-medium {
    font-family: var(---font-sans);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: normal;
  }

  .text-preset-6-bold {
    font-family: var(---font-sans);
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: normal;
  }

  .text-preset-6-medium {
    font-family: var(---font-sans);
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: normal;
  }
}

